<html>

<head>
    <title>Результаты 🎩🥇</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <table class="leaderboard">
        <tr>
            <td>🧍‍♂️🧍‍♀️</td>
            <td>🎓</td>
            <td>🤡</td>
        </tr>

    {% for user in leaderboard_data %}
        <tr>
            <td>{{user.nickname}}</td>
            <td>{{user.solved_main_words}}</td>
            <td>{{user.solved_extra_words}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
