<html>

<head>
    <title>Логин &#128477;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <h1>Головоломка "КЫК"</h1>
    <h2>(<font color=red>к</font>ультурный <font color=red>ы́</font>мидж <font color=red>К</font>арима)</h2>

    <br>

    <form id="nicknameForm">
        <label for="nicknameBox">Никнейм или имя: </label>
        <input id="nicknameBox" type="text">
    </form>

    <script>
    /* Changes the above form's 'action' dynamically
       to "<domain>/<value in nicknameBox>"
    */

    // Cross browser compatibility
    var on = (function(){
        if ("addEventListener" in window) {
            return function(target, type, listener){
                target.addEventListener(type, listener, false);
            };
        }
        else {
            return function(object, sEvent, fpNotify){
                object.attachEvent("on" + sEvent, function(){
                    fpNotify(window.event);
                });
            };
        }
    }());

    on(document.getElementById("nicknameBox"), "change", function(){
        document.getElementById("nicknameForm").action = this.value;
    });
    </script>
</body>

</html>