* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

@-ms-viewport{
  width: device-width;
}

/******************/

/* Responsive page width */
body {
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  max-width: 1080px;
  /*min-width: 200px;*/
  background-color: #ffffff;
  /*height: 100%;*/
}

/* Center headings */
h1, h2, #nicknameForm {
  text-align: center;
}

/* Solid white cell borders */
table.field, table.field td {
  border: 0.1em solid white;
  border-collapse: collapse;
  background-clip: padding-box;
}

/* Center the field and set width */
table.field {
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;

  width: 88%;
}

/* Perfectly square cells */
table.field td {
  width: 6.6%;
  position: relative;
}
table.field td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
.field-cell {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*background: gold;*/

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

/* Make cell letters white */
.cell-letter {
  fill: black;
}

/* Define cell colors in various states */
td.blank {
  background-color: #e0e0e0;
}
td.inprogress {
  background-color: #ffbb55;
}
td.solved {
  background-color: #00bb88;
}

/* Define how the popup image sits in the page */
.popup-background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
}

.popup-content {
  display: none;
  position: relative;
  z-index: 2;
  width: 100%; /* Could be more or less, depending on screen size */
}

.popup-image {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100%;
}

/* Score counter */
.score-counters {
  margin-left: auto;
  margin-right: auto;

  width: 75%;

  text-align: center;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #2266dd;
}

.leaderboard {
  text-align: center;
  font-size: 1.25em;
}

table.leaderboard {
  margin-left: auto;
  margin-right: auto;

  width: 75%;

  border-collapse: collapse;
  border-style: hidden;
}

table.leaderboard td, table.leaderboard th {
    border: 0.08em solid black;
}
